/* app global css */
@font-face{
  font-family: Prompt-Regular;
  src: url('../statics/fonts/Prompt-Regular.ttf')
}
@font-face {
  font-family: Prompt-Bold;
  src: url('../statics/fonts/Prompt-Bold.ttf')
}
body{
 font-family: Prompt-Regular;
 background-color: #f5f7fb  
}
.brx{
    border: 1px solid red;
}
.color1{
    color: #EFB71C;
}
.bg1{
    background: #F59085;
}
.bg2{
    background: #FCE0C7;
}
.bg3{
    background: #FFF0E2;
}
.bg4{
    background: #C74C56;
}
.bg5{
    background: #0A9E9C;
}
.bg6{
    background: #0D5D76;
}
.bgImageMobile {
  background-image: url("../statics/image/background.jpg");
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
  background-repeat: repeat;

}
.bgImage {
  width: 100%;
  height: 100vh;
  background-image: url("../statics/image/background.jpg");
  background-size: cover;
}
